@media(max-width:1155px){

    .cabecalho{
        flex-direction: column;
    }

    .cabecalho nav{
        flex-wrap: nowrap;
    }

    .cabecalho a{
        font-size: 2rem;
        padding: 5% 5px;
    }
}
