.rodape{
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: #242323;
}

.rodape h2{
    font-size: 2.5rem;
    margin-bottom: 1%;
    color: #fff;
}

.rodape nav{
    display: flex;

}

.rodape img{
    background-color: #fff;
    border-radius: 50%;
    max-width: 40px;
    margin-right: 3px;
}